.main-container{
    max-width: 1440px;
    margin:0 auto;
    color:#503426;
   
}
.announcements{
    display: flex;
    justify-content: center;
    background-color: #e9d8cae1;
    margin-bottom: 32px;
}
.announcements span{
    padding-top:3.2rem;
    padding-bottom:3.2rem;
    max-width: 60%;
    text-align: center;
    font-size: 19px;
    line-height: 1.75;
    font-weight: 500;
}
a{
    color:#503426;
}
.left-right{
    display:flex;
    margin-bottom: 32px;
}
.text{
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e9d8caa4;   
    padding: 32px 48px; 
}
.text h1,text h3{
    margin: 0;
    font-weight: 700;
}
.text h1{
    margin-bottom: 24px;
    text-align: center;
}
.text h3{
    margin-bottom: 32px;
    font-size:19px;
}
.image{
    width:50%;
}
.image img{
    width: 100%;
    height: 100%;
}

.text .cta{
    border: 2px solid #b08968;
    padding:7px 16px;
    border-radius: 50px;
    font-weight:600;
    line-height: 1.2;
    cursor: pointer;
    transition: all .2s ease;
}
.text .cta:hover{
    background-color: rgba(246, 240, 240, 0.87) ;
    padding:7px 32px;
}
.chills .text h1{
    line-height: 1.2;
    font-size:40px;
    font-weight: 700;
    letter-spacing: 6px;
}
.chills .text h3{
    font-size: 24px;
    line-height: 1.5;
}
.gallery{
    display: flex;
    justify-content: space-between;
    margin-bottom:32px;
}
.top-bottom-section{
    width:50%;
    display: flex;
}
    
.section-container{
    display: flex;
    flex-direction: column;
}
.top-bottom-section .image{
    width:100%;
    height:400px;
    display: flex;
}
.top-bottom-section .image img{
    width:100%;

}
.top-bottom-section .text{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
}
.top-bottom-section:first-child .section-container{
    margin-right:16px;
}
.top-bottom-section:last-child .section-container{
    margin-left:16px;
}
.about-section{
    display:flex;
    height: 30%;
    margin-bottom: 32px;
}
.about-section .text{
    height: 100%;
}
.about-section  .image{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e9d8caa4;   
}
.about-section  .image .image1,.image2,.image3{
    height:100px;
    width:100px;
}
.image1{
    margin-right:20px;
   
}
.image1 img{
    margin-top: -3px;
    
}
.image2{
    margin-top: 50px;
}
.image3{
    margin-left: 20px;
}
.image3 img{
    margin-top: -3px;
}
.about-section  .image img{
    width:100%;
    height:100%;
}